h1{
    color: rgba(89, 255, 0, 0.505);
}
label{
    cursor: pointer;
}

input [type=text]:hover{
    border-color: darkblue;
    border-width: 1px;

}
label:focus-within{
    color: blue;
}

@media only screen and (orientation: portrait) {
    body{
        background-color:rgb(221, 255, 0);
    }
    
}

@media only screen and (orientation: landscape) {
    body{
        background-color:rgb(0, 213, 255);
    }
    
}